asgiref==3.11.0
astroid==4.0.4
colorama==0.4.6
dill==0.4.1
dj-database-url==3.1.2
Django==6.0.1
django-filter==25.2
django-taggit==6.1.0
djangorestframework==3.16.1
gunicorn==25.1.0
isort==7.0.0
mccabe==0.7.0
packaging==26.0
pillow==12.1.1
platformdirs==4.6.0
psycopg2-binary==2.9.11
pylint==4.0.4
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
python-decouple==3.8
sqlparse==0.5.5
tomlkit==0.14.0
tzdata==2025.3
whitenoise==6.11.0
